@charset "utf-8";

//_mixins.scssをインポート
@use './mixins';


/* ---------------
variable
---------------- */

$font-color1: #000000;
$font-color2: #FFFFFF;
$main-color: #4D9600;


/* ---------------
common
---------------- */
// PC共通スタイル
@include mixins.mq(pc) {
    .sp {
        display: none;
    }
  }

//SP共通スタイル
@include mixins.mq(sp) {
    .pc {
        display: none;
    }
  }

// h2 タイトルのスタイル
.section-title {
    @include mixins.section-title;
}


html {
    -webkit-appearance: none;
    appearance: none;
    -webkit-text-seize-adjust: 100%;
	scroll-behavior: smooth;
    font-size: 62.5%;
    word-break: break-all;
    scroll-padding-top: 8rem;
    @include mixins.mq(sp) {
        scroll-padding-top: 5rem;
    }
}

body {
    margin: 0;
    font-family: 'YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Noto Serif JP',serif;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: $font-color1;
}
#container {
    width: 100%;
    overflow: hidden;
}

p,h1,h2,h3,a {
    margin: 0;
}
a {
    text-decoration: none;
}
.inner {
    max-width: 98rem;
    padding-inline: 3.0rem;
    margin: 0 auto;
    @include mixins.mq(sp) {
        max-width: 100%;
}
}
img {
   width: 100%;
   display: block;
}
.bg-green {
    background-color: #EDF4E5;
}


/* --------------
header
-----------------*/
.header {
    width: 100%;
    position: fixed; /* ヘッダーを固定 */
    top: 0; /* 上部に配置 */
    z-index: 999; /* 表示順序を設定 */
    height: 8rem;
    text-align: center;
    transition: background-color 0.5s ease-in-out; /* 背景色を滑らかに変化 */
    @include mixins.mq(sp) {
        height: 5rem;
    }
}
.active {
    background-color: $main-color;
}
.header-inner {
    max-width: 108rem;
    padding-inline: 8rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
        padding-inline: 2rem;
    }
    @include mixins.mq(sp) {
        padding-inline: 2rem 0rem;
    }
}
h1 {
    height: 100%;
    white-space: nowrap;
    a {
        display: flex;
        height: 100%;
        align-items: center;
        font-size: 2.0rem;
        color: $font-color2;
        line-height: calc(33 / 20);
        transition: .5s;
        @media (max-width: 1024px) {
            font-size: 1.8rem;
        }
        @include mixins.mq(sp) {
            font-size: 2.0rem;
            line-height: calc(33 / 20);
        }
        &:hover {
            opacity: .5;
        }
    }
}
.header-menu {
    height: 100%;
}
.header-nav {
    height: 100%;
}
.header-nav-list {
    display: flex;
    column-gap: 3.1rem;
    justify-content: flex-end;
    height: 100%;
    @media (max-width: 1024px) {
        column-gap: 1.5rem;
    }
}
.header-nav-list li {
    height: 100%;
}
.header-nav-btn {
    position: relative;
    display: inline-flex;
    font-size: 1.8rem;
    line-height: calc(33 / 18);
    color: $font-color2;
    height: 100%;
    transition: .5s;
    align-items: center;
    @media (max-width: 1024px) {
        font-size: 1.6rem;
    }
    &:hover {
        opacity: .5;
    }
}
#hamburger-bg {
    display: none;
}
@include mixins.mq(pc) {
.header-nav-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 25px;
    width: 0;
    height: 1px;
    background-color: $font-color2;
    transition: width 0.5s ease, left 0.5s ease;
}
.header-nav-btn:hover::after {
    width: 100%;
    left: 0;
}
.hamburger-menu {
    display: none;
}
}


/* --------------
ハンバーガーメニュー
-----------------*/


@include mixins.mq(sp)  {
    /* ハンバーガーメニュー */
    .hamburger {
    position: fixed;
    right: 0;
    width: 7.2rem;
    height: 5rem;
    background: #fff;
    z-index: 3; /* 追記 */
    }    

    /* 三本線 */
    .hamburger-line,
    .hamburger-line::before,
    .hamburger-line::after {
    position: absolute;
    left: 2rem;
    top: 2.3rem;
    width:  3.2rem;
    height:4px;
    border-radius: 5px;
    background: $main-color;
    -webkit-transition: .5s;
    transition: .5s;
    }
    .hamburger-line::before,
    .hamburger-line::after {
    content: "";
    left: 0;
    }
    .hamburger-line::before {
    top: -12px;
    }
    .hamburger-line::after {
    top: 12px;
    }
    /* ナビゲーション（中身） */
    .header-menu {
        position: fixed;
        width: 30rem;
        height: 34.8rem;
        top: 5rem;
        right: 0;
        bottom: 0;
        overflow: hidden;
        display: none;
        background: $main-color; /* 追記 */
        z-index: 100; /* 追記 */
    }
  .header-nav-list {
    display: block;
    height: 100%;
    margin: 0;
    text-align: left;
    list-style: none;
    font-size: 24px;
  }
   .header-nav-list li {
    display: block;
    height: 5.8rem;
   }
   .header-nav-btn {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    font-size: 1.8rem;
    line-height: calc(33 / 18);
    transition: .5s;
    &:hover {
        background-color: $font-color1;
        opacity: 1;
    }
   }

  /* メニューが開いた時の三本線 */
  .hamburger.active .hamburger-line {
    background-color: transparent;
  }
  .hamburger.active .hamburger-line::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
  }
  .hamburger.active .hamburger-line::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
  }
  /* メニューを開いた時の黒背景 */
  .hamburger-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* ← 追加 */
    height: 100vh; /* ← 追加 */
    background: rgba(0, 0, 0, 0.6); 
    transition: opacity 0.3s ease; /* スムーズな遷移 */
    display: none; /* 初期状態で非表示 */
  }
  .hamburger-bg.active {
    z-index: 10;
    display: block; /* ← 追加 */
    background: rgba(0, 0, 0, 0.6); /* ← 背景を黒に */
    z-index: 10;
  }
}


/* --------------
fv
-----------------*/
#fv {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    @include mixins.mq(sp) {
        height: 100%;
    }
}
#fv::after {
    content: '';
    background-color: rgba(0,0,0,.15);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
#slider {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    @include mixins.mq(sp) {
        height: 100%;
    }
}
.slide-item {
    width: 100%;
    height: 100%;
    position: relative;
}
.slide-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top-text {
    position: absolute;
    top: 51.3%;
    left: 50.5%;
    transform: translate(-50% , -50%);
    z-index: 99;
    @include mixins.mq(sp) {
        left: 51.5%;
    }
}
.top-text-message {
    font-size: 4.0rem;
    line-height: calc(70 /40);
    font-weight: 600;
    letter-spacing: 0.3em;
    color: $font-color2;
    white-space: nowrap;
    text-align: center;
    z-index: 99;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1.0);
    @include mixins.mq(sp) {
        font-size: 3.0rem;
        line-height: calc(60 / 30);
    }
}
/* --------------
about
-----------------*/
#about {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.about-text {
    writing-mode: vertical-rl;
    position: absolute;
    top: 50.5%;
    left: 36%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    @include mixins.mq(sp) {
        top: 50.5%;
        left: 50%;
        display: flex;
        column-gap: 2.2rem;
        align-items: center;
    } 
}
.about-title {
    font-size: 3rem;
    letter-spacing: 0.18em;
    line-height: 1.18;
    margin-left: 4.2rem;
    @include mixins.mq(sp) {
        font-size: 2.5rem;
        letter-spacing: 0.2em;
        line-height: 1.19;
        margin: 0;
    }
    @media (max-width: 340px) {
        font-size: 2.2rem;
    }
}
.about-summary {
    font-size: 1.8rem;
    letter-spacing: 0.4em;
    line-height: 2.66;
    @include mixins.mq(sp) {
        font-size: 1.6rem;
        letter-spacing: 0.25em;
        line-height: 1.6;
    }
    @media (max-width: 340px) {
        font-size: 1.5rem;
    }
}
// 970~768pxのとき
@media (max-width: 970px) and (min-width: 768px) {
    .about-text h2 {
        font-size: 2.5rem; 
    }
    .about-text p {
        font-size: 1.6rem;
    }
}

/* --------------
service
-----------------*/
#service {
    padding-block: 8rem;
    @include mixins.mq(sp) {
        padding-block: 5rem;
    }
}
.service-contents {
    width: 100%;
    display: block;
    margin-top: 6.8rem;
    @include mixins.mq(sp) {
        margin-top: 3.9rem;
    }
}
.service-content {
    width: 100%;
    position: relative;
    display: flex;
    padding-bottom: 5.1rem;
    @include mixins.mq(sp) {
        position: static;
        display: block;
        padding: 0;
    }
}
.service-content:not(:last-child) {
    margin-bottom: 8rem;
    @include mixins.mq(sp) {
        margin-bottom: 5rem;
    }
}
  
.service-picture {
    width: 65.2%;
    display: block;
    z-index: 2;
    @include mixins.mq(sp) {
        width: 100%;
    }
}
.picture-summary {
    margin-top: 1.9rem;
    font-size: 1.6rem;
    line-height: calc(25 / 16);
    @include mixins.mq(sp) {
        margin-top: 0.5rem;
    }
}
.service-text-area {
    position: absolute;
    width: 54.3%;
    background-color: $main-color;
    padding-block: 5rem 4.2rem;
    padding-left: 23.9%;
    padding-right: 0.97%;
    right: 0;
    bottom: 0;
    z-index: 1;
    @media screen and (max-width:860px) {
        padding-block: 4rem 3.6rem;
    }
    @include mixins.mq(sp) {
        position: static;
        width: 100%;
        margin-top: 0.6rem;
        padding: 2rem 2rem 1.2rem 2rem;
    }
}
.reverse-content {
    justify-content: flex-end;
}
.reverse-picture-summary {
    text-align: right;
    @include mixins.mq(sp) {
        text-align: left;
    }
}
.reverse-text-area {
    padding-right: 20.1%;
    padding-left: 4.34%;
    left: 0;
    bottom: 0;
    @media screen and (max-width:860px) {
        padding-block: 4rem 3.6rem;
    }
    @include mixins.mq(sp) {
        padding: 2rem 2rem 1.2rem 2rem;
    }
}
.service-text {
    color: $font-color2;
    h3 {
        font-size: 2.5rem;
        line-height: calc(33 / 25);
        font-weight: 600;
        @media screen and (max-width:860px) {
            font-size: 2.2rem;
        }
        @include mixins.mq(sp) {
            font-size: 2rem;
            line-height: calc(25 / 20);
        }
    }
    p {
        margin-top: 1.7rem;
        font-size: 1.6rem;
        line-height: calc(25 / 16);
        @media screen and (max-width:860px) {
            font-size: 1.4rem;
        }
        @include mixins.mq(sp) {
            margin-top: 1.4rem;
            font-size: 1.6rem;
        }
    }
}



/* --------------
works
-----------------*/
#works {
    padding-top: 8rem;
    padding-bottom: 9.7rem;
    @include mixins.mq(sp) {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
}
.works-contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4カラム均等幅 */
    gap: 4.34%; /* column-gap の代わり */
    width: 100%;
    margin-top: 6.8rem;
    text-align: left;
    
    @include mixins.mq(sp) {
        grid-template-columns: 1fr; /* スマホでは1列表示 */
        gap: 2.2rem;
        margin-top: 3.8rem;
        margin-bottom: 2.2rem;
    }
}

.works-content {
    width: 100%; /* 均等な幅を確保 */
    font-size: initial;
    transition: .3s;
    cursor: pointer;
}

.js_modal_open {
    display: block;
    cursor: pointer;
    @include mixins.mq(sp) {
        width: 100%;
    }
}
.work-content__img {
    opacity: 1;
    transition:opacity 0.5s ease-in-out; /* 常に滑らかな変化を適用 */
}

.works-content:hover .work-content__img {
    opacity: 0.5;
}

.works-text {
    margin-top: 1.9rem;
    font-size: 1.6rem;
    line-height: calc(25 / 16);
    opacity: 1;
    transition:opacity 0.5s ease-in-out; /* 常に滑らかな変化を適用 */
    @include mixins.mq(sp) {
        margin-top: 0.9rem;
    }
}

.works-content:hover .works-text {
    opacity: 0.5;
}





/* モーダル部分のデザイン */
.js_modal_area {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
}
 
.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
}
 
.modal__bg {
    position: fixed;
    background: #00000080;
    width: 100%;
    height: 100%;
    z-index: 2999;
    transition: opacity 0.3s ease-in-out;
}
 
.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45rem;
    background: #fff;
    max-width: 800px;
    z-index: 3100;
    padding-bottom: 0.6rem;
    display: none;
    @include mixins.mq(sp) {
        width: 84%;
        padding-bottom: 1.4rem;
    }
 }

.active {
    display: block;
 }
 .modal__bg.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
}
.img_box {
    width: 100%;
 }
.modal__content p {
    width:100%;
    margin-top: 0.9rem;
    font-size: 1.6rem;
    line-height: calc(25 / 16);
    @include mixins.mq(sp) {
        padding-left: 2rem;
        margin-top: 0.7rem;
    }
 }
 
.js_modal_close {
    text-align: right;
    display: block;
    cursor: default;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: calc(15 / 18);
    @include mixins.mq(sp) {
        line-height: calc(20 / 18);
        padding-right: 0.3rem;
    }
 }

 .js_modal_close .close-icon {
    cursor: pointer; /* ← ×マークだけ pointer にする */
    display: inline-block;
 }

.img_box {
    padding-inline:1.5rem;
    @include mixins.mq(sp) {
        padding-inline: 2rem;
    }
}


 /* --------------
news
-----------------*/
#news {
    padding-block: 8.0rem;
    @include mixins.mq(sp) {
        padding-block: 5.0rem;
    }
}
.news-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4カラム均等幅 */
    gap: 6.52%; /* column-gap の代わり */
    width: 100%;
    margin-top: 6.8rem;
    text-align: left;
    
    @include mixins.mq(sp) {
        grid-template-columns: 1fr; /* スマホでは1列表示 */
        gap: 5rem;
        margin-top: 3.7rem;
    }
}
.box {
    width: 100%; /* 均等な幅を確保 */
    font-size: initial;
    background: $font-color2;
    overflow: hidden;
}
.box-header {
    background: $main-color;
    color: $font-color2;
    padding: 1.2rem 2rem 0.5rem 2rem;
    font-size: 2.0rem;
    line-height: calc(33 / 20);
    @include mixins.mq(sp) {
        padding-block: 0.8rem 0.9rem;
    }
}

.box-content {
    flex-grow: 1; /* コンテンツの高さを統一する */
    width: 100%;
    padding-top: 1rem;
    padding-inline: 2rem;
}

.box-list {
    width: 100%;
    height: 100%;
    text-align: left;
    border-bottom: 1px solid $main-color;
}
.box-list a {
    display: flex;
    padding-block: 2rem 1.21rem;
    column-gap: 17.69%;
    height: 100%;
    cursor: pointer;
    transition: .5s;
    @include mixins.mq(sp) {
        column-gap: 6.9%;
        align-items: flex-start; /* 上揃えにする */
    }
}
.box-list a:hover {
    opacity: .5;
}
time {
    width: 5.3rem;
    font-size: 1.6rem;
    @include mixins.mq(sp) {
    }
}
.box-list p {
    flex: 1;
    font-size: 1.8rem;
    line-height: calc(25 / 18);
    @include mixins.mq(sp) {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 表示する行数 */
        -webkit-box-orient: vertical;
    }
}
.more-area {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2rem 0 0;
    padding-bottom: 0.5rem;
    @include mixins.mq(sp) {
        padding-bottom: 0.4rem;
    }
}

.more-text {
    position: relative;
    box-sizing: content-box;
    width: 7rem;
    padding: 0.7rem 1rem 0.7rem 0.7rem;
    transition: transform 0.5s ease;
    cursor: pointer;
    &:hover {
        transform: translateX(10px);
    }
}

.more-text p {
    font-size: 2.0rem;
    line-height: calc(33 /20);
    font-weight: 600;
    color: $main-color;
}

.more-text p::after {
    display: block;
    content: url("../images/pass.svg");
    margin-block-start: -2rem;
    transition: transform 0.3s ease;

}


 /* --------------
company
-----------------*/
#company {
    padding-block: 8.0rem 7.8rem;
    @include mixins.mq(sp) {
        padding-block: 5.0rem;
    }
}
.company-content {
    margin-top: 6.9rem;
    width: 100%;
    position: relative;
    display: flex;
    padding-bottom: 6.2rem;
    @include mixins.mq(sp) {
        position: static;
        display: block;
        margin-top: 3.7rem;
        padding: 0;
    }
}
.company-map {
    width: 65.2%;
    aspect-ratio: 3 / 2 ;
    z-index: 99;
    @include mixins.mq(sp) {
        width: 100%;
        aspect-ratio: 315 / 300 ;
    }
}
.company-information {
    position: absolute;
    width: 54.3%;
    background-color: $main-color;
    padding-block: 4.9rem 4.2rem;
    padding-left: 23.9%;
    padding-right: 0.54%;
    color: $font-color2;
    right: 0;
    bottom: 0;
    @media screen and (max-width:860px) {
        padding-block: 4rem 3.5rem;
    }
    @include mixins.mq(sp) {
        position: static;
        width: 100%;
        margin-top: 2rem;
        padding: 2rem 2rem 1.2rem 2rem;
    }
}
.company-name {
    font-size: 2rem;
    line-height: calc(33 / 20);
    @media (max-width: 860px) and (min-width: 768px) {
        font-size: 1.8rem;
    }
}
.company-address {
    font-size: 1.6rem;
    line-height: calc(25 / 16);
    margin-top: 0.7rem;
    @media (max-width: 860px) and (min-width: 768px) {
        font-size: 1.5rem;
    }
}
.company-tel {
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: calc(25 / 16);
}

.tel-number {
    font-size: 2.6rem;
    line-height: calc(25 / 24);
    pointer-events: none;
    padding-inline: 0.5rem;
    @media (max-width: 860px) and (min-width: 768px) {
        font-size: 2.4rem;
    }
    @include mixins.mq(sp) {
        pointer-events: auto;
        transition: .5s;
    cursor: pointer;
    &:hover {
    opacity: .5;
    }
}
}


.company-mail {
    margin-top: 1.9rem;
    width: 20rem;
    display: block;
    font-size: 1.6rem;
    line-height: calc(25 / 16);
    @media (max-width: 820px) and (min-width: 768px) {
        font-size: 1.5rem;
    }
    @include mixins.mq(sp) {
        margin-top: 1.6rem;
    }
}

.mail {
    font-size: 1.6rem;
    line-height: calc(25 / 16);
    padding-inline: 1.8rem;
    transition: .5s;
    cursor: pointer;
    @include mixins.mq(sp) {
        letter-spacing: 0.02em;
    }
    &:hover {
        opacity: .5;
    }
}


 /* --------------
contact
-----------------*/
#contact {
    padding-block: 8.0rem;
    @include mixins.mq(sp) {
        padding-block: 5.0rem;
    }
}
.contact-inner {
    max-width: 86rem;
}
.contact-summary {
    margin-block: 3.5rem 7rem;
    font-size: 2.0rem;
    line-height: calc(33 / 20);
    @include mixins.mq(sp) {
        margin-block: 3.5rem 4rem;
    }
}
form {
    width: 100%;
    margin: 0 auto;
}
.item {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    @include mixins.mq(sp) {
        display: block;
        margin-bottom: 3rem;
    }
}
.block-item {
    display: block;
    margin-bottom: 3.5rem;
    @include mixins.mq(sp) {
        margin-bottom: 1.7rem;
    }
}
.title-label {
    width: 17rem;
    font-size: 2.0rem;
    font-weight: 400;
    line-height: calc(33 / 20);
    @include mixins.mq(sp) {
        display: block;
        width: 100%;
    }
}
input[type="text"], input[type="email"] {
    background-color: #fff;
    flex: 1;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    line-height: calc(25 / 16);
    height: 5rem;
    @include mixins.mq(sp) {
        display: block;
        width: 100%;
    }
}
textarea {
    background-color: #fff;
    width: 100%;
    min-height: 20rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1.6rem 2rem;
    font-size: 1.6rem;
    line-height: calc(25 /16);
    resize: vertical;
    @include mixins.mq(sp) {
        margin-top: 0;
        margin-bottom: 1.2rem;
    }
}
.radio-item {
    @include mixins.mq(sp) {
        display: flex;
        flex: 1;
        .title-label {
            width: 9rem;
        }
    }
}
.check-title {
    line-height: calc(27 / 20);
}

// ラジオボタン
.radio-area {
    display: flex;
    column-gap: 8.8rem;
    padding-left: 1.3rem;
    @include mixins.mq(sp) {
        column-gap: 4.4rem;
        padding-left: 1.5rem;
    }
}
.radio-label {
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    font-size: 1.8rem;
    line-height: calc(25 / 18);
    
}

/* Custom Radio Button Design */
.radio-test::before {
    content: "";
    width: 2rem;
    height: 2rem;
    background-color: $font-color2;
    border-radius: 50%; /* Rounded corners for radio button */
    position: absolute;
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    @include mixins.mq(sp) {
        left: -1.5rem;
    }
}
/* Custom Radio Button Checked State */
.radio-test:checked::after {
    content: "";
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #000; /* Fill color when checked */
    border-radius: 50%; /* Rounded corners for checked state */
    position: absolute;
    top: 50%;
    left: -0.3rem;  /* Centering the filled circle */
    transform: translateY(-50%);
    @include mixins.mq(sp) {
        left: -0.8rem;
    }
}

@media screen and (max-width:360px) {
    .radio-item {
        display: block;
    }
}

// セレクトボックス
.select-container {
    position: relative;
    flex: 1;
    cursor: pointer;
}
/* セレクトボックスのスタイル*/
.select-box {
    padding: 1rem 2rem;
    height: 5rem;
    background-color: $font-color2;
    width: 100%; /* Make it fill the container */
    font-size: 1.8rem;
    line-height: calc(25 / 18);
    appearance: none; /* デフォルトの矢印を非表示 */
    z-index: 1;
    cursor: pointer;
    @include mixins.mq(sp) {
        font-size: 1.6rem;
        line-height: calc(25 / 16);
    }
}
/* 疑似要素の三角アイコン */
.select-container::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2rem;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1.2rem solid $main-color;
    transform: translateY(-50%);
    pointer-events: none; /* クリックを無効化 */
}


// チェックボックス
.check-container {
    display: flex;
    margin-top: 1rem;
    column-gap: 6.1rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;
    margin-left: 2rem;
    padding-bottom: 1.5rem;
    @include mixins.mq(sp) {
        margin-top: 0;
        column-gap: 2.4rem;
        row-gap: 0.5rem;
        margin-left: 1rem;
        margin-top: 0;
        padding-bottom: 0;
    }
}
.check-block {
    @include mixins.mq(sp) {
        margin-bottom: 3rem;
    }
}
.check-label-wrap {
    width: 18%;
    @include mixins.mq(sp) {
        width: 44%;
    }
}
.check-label {
    width: fit-content;
    display: flex;
    pointer-events: auto;
    cursor: pointer;
    padding-left: 2rem;
    white-space: nowrap;
    cursor: pointer;
}

.check-test {
    position: relative;
}
.check-label-span {
    font-size: 1.8rem;
    line-height: calc(25 / 18);
    @include mixins.mq(sp) {
        font-size: 1.6rem;
        line-height: calc(25 / 16);
    }
    @media (max-width: 340px) {
        font-size: 1.4rem;
    }
}


/* Custom Checkbox Design */
.check-test::before {
    content: "";
    width: 2rem;
    height: 2rem;
    background-color: $font-color2;
    position: absolute;
    left: -4rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    @include mixins.mq(sp) {
        left: -3rem;
    }
}
  
.check-test:checked::after {
    content: "";
    display: block;
    width: 0.6rem;
    height: 1.5rem;
    border: solid $main-color;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 48%;
    left: -3.2rem;
    transform: translateY(-50%) rotate(45deg);
    @include mixins.mq(sp) {
        left: -2.3rem;
    }
}


// スクロールボックス
.scroll-container {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    aspect-ratio: 800 / 300;
    background-color: $font-color2;
    @include mixins.mq(sp) {
        margin-top: 0;
        aspect-ratio: 315 / 323 ;
        padding: 1rem 1rem 2rem 1rem;
    }
}
.scroll-inner {
    display: block;
    width: 100%;
    aspect-ratio: 780 / 280;
    padding: 3rem;
    overflow-y: scroll;
    /* スクロールバーのスタイル */
    &::-webkit-scrollbar {
        width: 1rem; /* スクロールバーの幅を太くする */
    }
    &::-webkit-scrollbar-track {
        background: #e3e3e3; /* 背景色をグレーに */
    }
    &::-webkit-scrollbar-thumb {
        background: #707070; /* 灰色のつまみ */
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $main-color; /* ホバー時の色変更 */
    }
    @include mixins.mq(sp) {
        padding: 2rem 3rem 2rem 2rem;
        aspect-ratio: 295 / 293;
    }
}

.scroll-text {
    overflow: hidden;         /* はみ出した部分を隠す */
    text-overflow: ellipsis;   /* 三点リーダー（…）を表示 */
}

.scroll-text {
    font-size: 1.8rem;
    line-height: calc(31 / 18);
    @include mixins.mq(sp) {
        font-size: 1.6rem;
        line-height: calc(33 / 16);
    }
}
.scroll-text li::before {
    content: "・";
}


// 送信ボタン
.btn-area {
    text-align: center;
    margin-top: 8rem;
    @include mixins.mq(sp) {
        margin-top: 5rem;
    }
}
input[type="submit"] {
    color: $font-color2;
    border: 0.1rem solid $main-color;
    background-color: $main-color;
    font-size: 2.0rem;
    line-height: calc(33 / 20);
    font-weight: 600;
    width: 100%;
    max-width: 30rem;
    height: 5rem;
    transition: all .5s;
    @include mixins.mq(sp) {
        width: 100%;
        max-width: 31.5rem;
    }
}
input[type="submit"]:hover {
    color: $main-color;
    background-color: $font-color2;
}
 /* --------------
footer
-----------------*/
footer {
    padding-top: 8rem;
    @include mixins.mq(sp) {
        padding-top: 5rem;
    }
}
.footer-inner {
    @include mixins.mq(sp) {
        padding-inline: 3rem;
    }
}
footer h2 {
    margin: 0 auto;
    font-size: 2rem;
    line-height: calc(33 / 20);
    text-align: center;
    max-width: 722px;
    border-bottom: 1px solid $font-color1;
    padding-bottom: 2.8rem;
    margin-bottom: 2.8rem;
    @include mixins.mq(sp) {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }
}
.footer-title {
    padding: 1rem;
    transition: .5s;
    cursor: pointer;
    &:hover {
        opacity: .5;
    }
}

.footer-nav {
    margin: 0 auto;
}
.footer-nav-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(33 / 18);
    column-gap: 3rem;
    @include mixins.mq(sp) {
        column-gap: 2rem;
        row-gap: 0.5rem;
    }
}
.footer-nav-list a {
    padding: 1rem;
    transition: .5s;
    &:hover {
        opacity: .5;
    }
    @include mixins.mq(sp) {
        padding: 0.5rem;
    }
}
.sns-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1.8rem;
    margin-bottom: 7rem;
    @include mixins.mq(sp) {
        margin-bottom: 4rem;
    }
}
.sns-btn li {
    display: flex;
}
.sns-btn li a {
    padding:1rem;
    transition: .5s;
}
.sns-btn li a:hover {
    opacity: .5;
}
.copyright {
    padding-block: 3rem 2.9rem;
    text-align: center;
    background-color: $main-color;
    font-size: 2rem;
    line-height: calc(33 / 20);
    color: $font-color2;
    font-weight: 500;
    @include mixins.mq(sp) {
        padding-block: 2.1rem;
        padding-right: 2rem;
        line-height: calc(25 / 20);
    }
}

// トップへ戻るボタン
#page-top-btn {
    width: 6.8rem;
    height: 6.8rem;
    position: fixed;
    right: 6rem;
    bottom: 6rem;
    background: $main-color;
    border-radius: 50%;
    z-index: 99;
    transition: .5s;
    &:hover {
        opacity: .5;
    }
    @include mixins.mq(sp) {
        width: 5rem;
        height: 5rem;
        right: 2rem;
        bottom: 6rem;
    }
}
#page-top-btn img {
    width: 23.15px;
    position: fixed;
    bottom: 8.5rem;
    right: 8.3rem;
    @include mixins.mq(sp) {
        width: 2.2rem;
        bottom: 7.7rem;
        right: 3.4rem;
    }
}
